<!DOCTYPE html>
<html lang="en">
<style>
    h1 {
  font-size: 5em; /* 40px/16=2.5em */
}
</style>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Artist</title>
</head>
<body>
    <div style="margin-top: 200px">
        <center>
            <h1>Artist</h1>
            <form action="">
            <input type="text"placeholder="Artist name"style="height:50px; width:350px;"/>
            <br>
            <br>
            <input type="Submit" value="SEARCH">
            </form>
        </center>
    </div>
</body>
</html>