*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    margin: 0;
    height: 100vh;
    background: linear-gradient(#1ED760,black);
    background-size: 400% 400%;
    animation: bg 12s ease infinite;
    background-position: 20% 100%;
}

@keyframes bg{
   0%{
    background-position: 20% 100%;
   }
}
.navbar{
    width: 100%;
    display: flex;
    justify-content: end;
    padding: 20px;

}
.btn{
    height: 50px;
    width: 120px;
    border-radius: 30px;
    color: #1ED760;
    box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
    background-color: black;
    font: 1.2em sans-serif;
    
}
.btn:hover{
    transform: scale(1);
}




.header2{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.btn:active {
    box-shadow: none;
    transform: translateY(0);
   }
.border{
    border: 1px solid transparent;
}
.border:hover{
    border: 1px solid white;
}
/* .header{
    display: flex;
    padding:30px;
    justify-content: center;
    font-size: 100px;
    gap: 2rem;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    animation: text 2s ease-in-out;
}
.header h1{
    
}

@keyframes text {
    from{
        transform: translateY(-250px);
    }
    to{
        transform: translateY(40px);
    }
    
} */
.header{
    display: flex;
    padding:30px;
    justify-content: center;
    font-size: 100px;
    gap: 2rem;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    animation: text 3s ease-in-out;
}
/* .header h1{
    
} */

@keyframes text {
    from{
        opacity: 0;
        
    }
    to{
        opacity: 1;
    }
}
.header2{
    text-align: start;
    font-size: 50px;
    padding: 50px;
    color: white;
}
table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    
}
th{
    text-align: center;
    padding: 10px;
}
td,tr{
    border-collapse: collapse;
}