<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <link rel="stylesheet" href="../static/login.css">
    <title>Login-page</title>
</head>
<body>
    <div class="centre">
        <h1>Log<span class="in">In</span></h1>
        <form action='/login' method='POST'>
           <div class="txt-field">
              
              <input  type="email" name="email" placeholder="Email" required> 
           </div>
           <div class="txt-field">
            
              
              <input  type="password" name="password" placeholder="Password" required> 
           </div>
           
           <input type="submit" value="Login">
           
        </form>
        <div class="form-group">
         <p>
             Don't have an account?<a  href="{{url_for('condition_log')}}"> Sign up</a>
         </p>
     </div>
       </div>
    
</body>
</html>
