<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <link rel="stylesheet" href="../static/login.css">
    <title>Login-page</title>
</head>
<body>
    <div class="centre">
        <h1>Log<span class="in">In</span></h1>
        <form >
           <div class="txt-field">
              
              <input  type="email" placeholder="Email"> 
           </div>
           <div class="txt-field">
            
              
              <input  type="password" id="password" placeholder="Password"> 
           </div>
           
           <input type="submit" value="login">
           
        </form>
        <div class="form-group">
         <p>
             Don't have an account?<a  href="signup.html"> Sign up</a>
         </p>
     </div>
       </div>
    
</body>
</html>