<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SongRec</title>
    <link rel="stylesheet" href="../static/rec.css">
</head>
    <div class="image">
           <a href="{{ url_for('home')}}"><img src="{{ url_for('static', filename='icons8-back-100.png') }}" class="pic" ></a>
    </div>

     <div>
        
        <div class="art_name">
         <h2  class="name">{{names.title()}}.</h2>
        </div>
         <div class="top">
            <form action="url_for('like')" method="POST">
        {% for track in recommendation['tracks']:%}
         <iframe class="songs" style="border-radius:12px;padding-top: 2%; padding-bottom: 2%; padding-right: 2%;" src="https://open.spotify.com/embed/track/{{track['id']}}" width="20%" height="180" frameBorder="0"  allow="autoplay; clipboard-write; encrypted-media;" loading="lazy"></iframe>
         <!-- <button type="submit" value="{{track}}" name="button" style="background-color: black; font-size: 25px; border: none; cursor: pointer;">❤️</button> -->
        {% endfor %}
    </form>
    </div>
    </div>
</body>
</html>
