<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/songrec.css" type="text/css">
    <title>SongRec</title>
</head>
<body>
    <!-- <nav>
        <a href="/html/">Artist</a> |
        <a href="/css/">Search</a> |
        <a href="/js/">Playlist</a> |
        <a href="/python/">Settings</a>
      </nav> -->

      <div>
        <div class="title">
            <h2>Artist</h2>
            <form action="">
              <input type="text" ><br><br>
              <input type="submit" name="Submit" value="Search">
            
            </form>
        </div>
      </div>
</body>
</html>