<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="../static/user.css">
        <title>Settings</title>
        
    </head>
    <body>
        <div class="image">
            <a href="{{ url_for('home')}}"><img src="{{ url_for('static', filename='icons8-back-100.png') }}" class="pic" ></a>
        </div>
        <h1 style="color: white;text-align: center;">HELLO,<span style="color: green;">{{n}}</span></h1>
        <br><br><br><br>
        <form action="/user_menu" method="POST" class="btn">
            <div class="centre">
            <button type="submit" name="button" value="history" class="btn1">History</button> <br>
            <button type="submit" name="button" value="confirm" class="btn1">Change Password</button> <br>
            <button type="submit" name="button" value="logout" class="btn1">Logout</button><br>
        </div>
        </form>
        
    </body>
</html>
